@{
    ViewData["Title"] = "Life History";
}

<h1 class="text-center">Pablo Picasso</h1>

<img class="rounded float-end w-25 m-3" src="~/images/pablo_picasso.jpg" alt="Pablo Picasso" />

<p>
    Picasso was born at 23:15 on 25 October 1881, in the city of Málaga, Andalusia, in southern Spain. He was the first child of Don José Ruiz y Blasco (1838–1913) and María Picasso y López. Picasso's family was of middle-class background. His father was a painter who specialized in naturalistic depictions of birds and other game. For most of his life, Ruiz was a professor of art at the School of Crafts and a curator of a local museum. Ruiz's ancestors were minor aristocrats.
</p>

<p>
    Picasso's training under his father began before 1890. His progress can be traced in the collection of early works now held by the Museu Picasso in Barcelona, which provides one of the most comprehensive records extant of any major artist's beginnings. During 1893 the juvenile quality of his earliest work falls away, and by 1894 his career as a painter can be said to have begun. The academic realism apparent in the works of the mid-1890s is well displayed in The First Communion (1896), a large composition that depicts his sister, Lola. In the same year, at the age of 14, he painted Portrait of Aunt Pepa, a vigorous and dramatic portrait that Juan-Eduardo Cirlot has called "without a doubt one of the greatest in the whole history of Spanish painting."
</p>

<p>
    In 1897, his realism began to show a Symbolist influence, for example, in a series of landscape paintings rendered in non-naturalistic violet and green tones. What some call his Modernist period (1899–1900) followed. His exposure to the work of Rossetti, Steinlen, Toulouse-Lautrec and Edvard Munch, combined with his admiration for favourite old masters such as El Greco, led Picasso to a personal version of modernism in his works of this period.
</p>

<p>
    Picasso made his first trip to Paris, then the art capital of Europe, in 1900. There, he met his first Parisian friend, journalist and poet Max Jacob, who helped Picasso learn the language and its literature. Soon they shared an apartment; Max slept at night while Picasso slept during the day and worked at night. These were times of severe poverty, cold, and desperation. Much of his work was burned to keep the small room warm. During the first five months of 1901, Picasso lived in Madrid, where he and his anarchist friend Francisco de Asís Soler founded the magazine Arte Joven (Young Art), which published five issues. Soler solicited articles and Picasso illustrated the journal, mostly contributing grim cartoons depicting and sympathizing with the state of the poor. The first issue was published on 31 March 1901, by which time the artist had started to sign his work Picasso. From 1898 he signed his works as "Pablo Ruiz Picasso", then as "Pablo R. Picasso" until 1901. The change does not seem to imply a rejection of the father figure. Rather, he wanted to distinguish himself from others; initiated by his Catalan friends who habitually called him by his maternal surname, much less current than the paternal Ruiz.
</p>

<p>
    Picasso was one of 250 sculptors who exhibited in the 3rd Sculpture International held at the Philadelphia Museum of Art in mid-1949. In the 1950s, Picasso's style changed once again, as he took to producing reinterpretations of the art of the great masters. He made a series of works based on Velázquez's painting of Las Meninas. He also based paintings on works by Goya, Poussin, Manet, Courbet and Delacroix.
</p>

<p>
    Pablo Picasso died on 8 April 1973 in Mougins, France, from pulmonary edema and a heart attack, the morning after he and his wife Jacqueline entertained friends for dinner. He was interred at the Château of Vauvenargues near Aix-en-Provence, a property he had acquired in 1958 and occupied with Jacqueline between 1959 and 1962. Jacqueline prevented his children Claude and Paloma from attending the funeral. Devastated and lonely after the death of Picasso, Jacqueline killed herself by gunshot in 1986 when she was 59 years old.
</p>