@{
    ViewData["Title"] = "Picture Collections";
}

<div class="row">
    <div class="col">
        <div class="card m-3">
            <img src="~/images/femme_assise.jpg" class="card-img-top" alt="Femme Assise" />
            <div class="card-body">
                <p class="card-text">1909, Femme assise (Sitzende Frau), oil on canvas, 100 × 80 cm (39 × 31 in), Staatliche Museen, Neue Nationalgalerie, Berlin</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/seated_nude.jpg" class="card-img-top" alt="Seated Nude" />
            <div class="card-body">
                <p class="card-text">1909–10, Figure dans un Fauteuil (Seated Nude, Femme nue assise), oil on canvas, 92.1 × 73 cm (36 × 28 in), Tate Modern, London. This painting from the collection of Wilhelm Uhde was confiscated by the French state and sold at the Hôtel Drouot in 1921.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/woman_with_mustard_pot.jpg" class="card-img-top" alt="Woman with Mustard Pot" />
            <div class="card-body">
                <p class="card-text">1910, Woman with Mustard Pot (La Femme au pot de moutarde), oil on canvas, 73 × 60 cm (28 × 23 in), Gemeentemuseum, The Hague. Exhibited at the Armory Show, New York, Chicago, Boston 1913</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/fanny_tellier.jpg" class="card-img-top" alt="Fanny Tellier" />
            <div class="card-body">
                <p class="card-text">1910, Girl with a Mandolin (Fanny Tellier), oil on canvas, 100.3 × 73.6 cm (39 × 28 in), Museum of Modern Art, New York</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card m-3">
            <img src="~/images/kahnweiler.jpg" class="card-img-top" alt="Kahnweiler" />
            <div class="card-body">
                <p class="card-text">1910, Portrait of Daniel-Henry Kahnweiler, The Art Institute of Chicago. Picasso wrote of Kahnweiler "What would have become of us if Kahnweiler hadn't had a business sense?"</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/mandoliniste.jpg" class="card-img-top" alt="Mandoliniste" />
            <div class="card-body">
                <p class="card-text">1910–11, Guitariste, La mandoliniste (Woman playing guitar or mandolin), oil on canvas</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/guitariste.jpg" class="card-img-top" alt="Guitariste" />
            <div class="card-body">
                <p class="card-text">c.1911, Le Guitariste. Reproduced in Albert Gleizes and Jean Metzinger, Du "Cubisme", 1912</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/still_life_with_a_bottle_of_rum.jpg" class="card-img-top" alt="Still Life with a Bottle of Rum" />
            <div class="card-body">
                <p class="card-text">1911, Still Life with a Bottle of Rum, oil on canvas, 61.3 × 50.5 cm (24 × 19 in), Metropolitan Museum of Art, New York</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card m-3">
            <img src="~/images/poet.jpg" class="card-img-top" alt="Poet" />
            <div class="card-body">
                <p class="card-text">1911, The Poet (Le poète), oil on linen, 131.2 × 89.5 cm (51 5/8 × 35 1/4 in), The Solomon R. Guggenheim Foundation, Peggy Guggenheim Collection, Venice</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/violon.jpg" class="card-img-top" alt="Violon" />
            <div class="card-body">
                <p class="card-text">1911–12, Violon (Violin), oil on canvas, 100 × 73 cm (39 × 28 in) (oval), Kröller-Müller Museum, Otterlo, Netherlands. This painting from the collection of Wilhelm Uhde was confiscated by the French state and sold at the Hôtel Drouot in 1921.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/bouteille_clarinet_violon_journal_verre.jpg" class="card-img-top" alt="Bouteille, clarinet, violon, journal, verre" />
            <div class="card-body">
                <p class="card-text">1913, Bouteille, clarinet, violon, journal, verre, 55 × 45 cm (21 × 17 in). This painting from the collection of Wilhelm Uhde was confiscated by the French state and sold at the Hôtel Drouot in 1921.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-3">
            <img src="~/images/eva.jpg" class="card-img-top" alt="Eva" />
            <div class="card-body">
                <p class="card-text">1913, Femme assise dans un fauteuil (Eva), Woman in a Chemise in an Armchair, oil on canvas, 149.9 × 99.4 cm (59 × 39 in), Leonard A. Lauder Cubist Collection, Metropolitan Museum of Art</p>
            </div>
        </div>
    </div>
</div>